
.badge {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 16px */
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.badge > button {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    padding: 2px .5rem; /* 8px*/
    cursor: auto;
    border-radius: 0.375rem; /* 6px */
    outline: none;
    color: var(--dark-bg);
    background-color: rgba(159, 122, 234, 0.50);
    border: 1px var(--dark-heading-color) solid;
}

.light-mode .badge > button {
    color: var(--light-card-bg);
    background-color: rgba(123, 78, 41, 0.5);
    border: 1px var(--light-heading-color) solid;
}
