:root {
  /* Cores Modo Escuro */
  --dark-bg: #1A1A2E;
  --dark-text: #FFFFFF;
  --dark-header-border: #2C2C40;
  --dark-logo-color: #6B46C1;
  --dark-button-bg: #4A5568;
  --dark-button-text: #FFFFFF;
  --dark-button-hover-bg: #2D3748;
  --dark-card-bg: #2C2C40;
  --dark-heading-color: #9F7AEA;
  --dark-link-icon-color: #A0AEC0; /* gray-500 */
  --dark-item-bg: #1A1A2E;
  --dark-item-hover-ring: #6B46C1;
  --dark-new-tag-bg: #6B46C1;
  --dark-new-tag-text: #FFFFFF;
  --dark-item-text: #E2E8F0; /* gray-200 */
  --dark-social-icon-color: #A0AEC0; /* gray-400 */
  --dark-social-icon-hover: #FFFFFF;
  --dark-editor-tab-border: #4A4A60; /* Nova cor para borda da aba do editor */
  --dark-editor-tab-active-bg: #1A1A2E; /* Cor de fundo da aba ativa do editor */

  /* Cores Modo Claro */
  --light-bg: #FCF9F3;
  --light-text: #3E2B1E;
  --light-header-border: #F9D5B4;
  --light-logo-color: #7B4E29;
  --light-button-bg: #F9D5B4;
  --light-button-text: #3E2B1E;
  --light-button-hover-bg: #7B4E29;
  --light-button-hover-text: #FCF9F3;
  --light-card-bg: #FFF0C2;
  --light-heading-color: #7B4E29;
  --light-link-icon-color: #7B4E29;
  --light-item-bg: rgba(123, 78, 41, 0.15);
  --light-item-hover-ring: #F9D5B4;
  --light-new-tag-bg: #F9D5B4;
  --light-new-tag-text: #3E2B1E;
  --light-item-text: #3E2B1E;
  --light-social-icon-color: #7B4E29;
  --light-social-icon-hover: #F9D5B4;
  --light-editor-tab-border: #EBAA93; /* Nova cor para borda da aba do editor */
  --light-editor-tab-active-bg: #FFF0C2; /* Cor de fundo da aba ativa do editor */

  --primary-bg-start: #1A1A2E;
  --primary-bg-end: #0F141F;
  --text-white: #FFFFFF;
  --text-gray-300: #D1D5DB;
  --text-gray-400: #9CA3AF;
  --text-gray-900: #111827;
  --accent-yellow-400: #FBBF24;
  --accent-yellow-300: #FCD34D;
  --book-brown-saddle: #8B4513;
  --book-brown-sienna: #A0522D;
  --book-brown-darker: #694F3C;
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}